table {
  border-collapse: collapse;
  margin: ($base-spacing / 2) 0;
  table-layout: fixed;
  width: 100%;
}

th {
    margin:0px;
  border-bottom: 1px solid darken($base-border-color, 15);
  font-weight: bold;
  text-align: left;
  background: #f5f5f5;
  font-size: 0.8em;
}

td {
  border-bottom: $base-border;
  padding: ($base-spacing / 2) 0;
}

tr,
td,
th {
  vertical-align: middle;
}
