$red-background: #F42433;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body.landing {
  background-color: white;
  padding-bottom: 0px;
  footer {
    border-top: 3px solid #ccc;
  }
  header {
    @include outer-container;
    background: white;
    padding: 50px;
    margin-bottom: 0px;
    border-bottom: none;
    .title {
      float: left;
      background: url(image-path('appkit.png'));
      background-repeat: no-repeat;
      background-postion: center left;
      background-size: contain;
      padding-left: 120px;
      height: 100px;
      h2 {
        margin-top: 15px;
        padding:0px;
        line-height: 1;
        margin-bottom: 0px;
        font-size: 40px;
        font-weight: normal;
      }
      small {
        margin-top: 5px;
        display: block;
        line-height: auto !important;
        font-size: 0.4em;
      }
    }
    .buttons {
      float: right;
      a {
        @include button(simple,#fff, 0.8em, 5px 10px);
      }
      a:last-child {
        @include button(simple,#fff, 0.8em, 5px 10px);
      }
    }
  }
  footer {
    margin-top: 0px;
  }
}



.land-section {
  @include pad;
  padding-bottom: 50px;
  padding-top: 50px;
  .code-box {
    width: 700px;
    margin: auto;
    margin-top: 40px;
    pre {
      padding: 15px;
      border-radius: 8px;
    }
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .feature-cells {
    @include outer-container;
    margin-top: 80px;
    text-align: left;
    .feature {
      @include span-columns(3);
      .content {
        .title {
          font-weight: bold;
          font-size: 1.1em;
        }
        p {
          text-align: left;
          font-size: 0.8em;
        }
      }
    }
    &.three {
      .feature {
        @include span-columns(4);
        @include omega(3n);
      }
    }
  }
  .image-section {
    margin-top: 40px;
    @include outer-container;
    .image-column {
      @include span-columns(4);
      @include shift(1)
    }
    .text-column {
      @include span-columns(6);
      @include pad;
      h2 {
        font-size: 1.1em;
        text-align: left;
      }
      p {
        text-align: left;
        margin-bottom: 20px;
      }
    }
  }
  .centered-p-wrapper {
    @include outer-container;
    .centered-p {
      @include span-columns(8);
      @include shift(2);
      h2 {
        text-align: left;
      }
      p {
        text-align: left;
      }
    }
  }
  &.red {
    color: white;
    border-top: 5px solid darken($red-background,20);
    @include linear-gradient($red-background, darken($red-background, 15));
    h2 {
      text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px;
    }
  }
  &.grey {
    color: #444;
    background: #ccc
  }
  &.white-grey {
    @include linear-gradient(#fff, #ccc);
    color: #444;
    .feature-cells {
      text-align: center;
      .feature {
        @include pad;
        @include transition(all,0.5s);
        background: #e5e5e5;
        border-radius: 5px;
        color: #444;
        p {
          text-align: center;
        }
        &:last-child {
          border-right: none;
        }
        &:hover {
          background: #F1BFC6;
        }
      }
    }
  }
}
