@import "bourbon";
@import "neat";
@import "base/base";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-ui";
@import "select2";
@import "select2-bootstrap";
@import "dropkick";
@import "dropkick.dark";
$property-header-color: #999 !default;
$property-value-color: $base-font-color !default;
@import "tables";
@import "filter_panel";
@import "panels";
@import "form";
@import "nav";
@import "breadcrumb";
@import "resources";
@import "modal";
@import "pagination";
@import "datepicker";
@import "simple";
@import "flash";
@import "footer";
body {
    padding: 0px;
    margin: 0px;
    .page-container {
        @include outer-container;
        @include pad;
    }
}

