.input {
    padding: 5px;
    font-size: 0.8em;
    label {
        color: #999;
    }
    input {
    }
    span.error {
        font-weight: bold;
        color: #cc0000;
        display: block;
    }
}
.input.field_with_errors {
    $form-error-bg: #FDE6E6 !default;
    background: $form-error-bg;
    border: 1px solid darken($form-error-bg, 10);
    border-radius: 4px;
    label {
        color: #cc0000;
    }
}
.input.boolean {
    
}
.input.date, .input.datetime {
    select{
        display: inline-block;
    }
    .select2-container{
        margin-right: 5px;
        margin-left: 5px;
    }
}
input[type=submit] {
    margin-top: 20px;
}
