.nav {
    background: white;
    border-bottom: 2px solid #444; 
    a {
        font-weight: bold;
        @include transition(all, 0.5s);
        display: inline-block;
        color: #999;
        padding: 10px 20px;
    }
    a:hover {
        color: #222;
    }
    a.active {
        color: #222;
    }
}
