.show-details {
    .pk-body {
        @include outer-container;
        .show-details-column {
            @include span-columns(8);
        }
        .show-actions-column {
            @include span-columns(4);
            @include pad;
            padding-top: 15px;
            h2 {
                font-size: 0.8em;
                color: lighten($base-font-color, 30);
                text-transform: uppercase;
            }
        }
    }
}
