.show-details {
    @include row(table); 
    .details {
        @include span-columns(9);
    }
    .actions {
        @include span-columns(2);
        padding-left: 40px;
        h2 {
            font-size: 0.8em;
            color: #888;
            text-transform: uppercase;
        }
        ul {
            li {
                a {
                }
                a:hover {
                }
            }
        }
    }
}
