.show-details {
    .pk-body {
        @include outer-container;
        .show-details-column {
            @include span-columns(8);
        }
        .show-actions-column {
            @include span-columns(4);
            padding-top: 15px;
            h2 {
                font-size: 0.8em;
                color: lighten($base-font-color, 30);
                text-transform: uppercase;
            }
        }
    }
}
.data-download {
  text-align: right;
  padding: 10px 20px;
  font-size: 0.8em;
  color: #888;
  a {
    color: #666;
    font-weight: bold;
    display: inline-block;
    padding: 0px 5px;
  }
  a:hover {
    color: #121212;
    text-decoration: none;
  }
}
