body.simple {
  .flash-notice {
    margin-bottom: 20px;
  }
  h1 {
    text-align:left;
    font-weight: bold;
    font-size: 1.8em;
    padding-left: 15px;
    color: #444;
    margin-bottom: 5px;
  }
  background: #eee;
  padding-top: 50px;
  .simple-container {
    @include outer-container;
    margin-bottom: 20px;
  }
  .empty-panel {
    @include span-columns(4);
    @include shift(4);
    text-align: center;
    a {
      @include transition(all, 0.5s);
      color: #999;
      display: block;
      text-align: center;
      padding: 5px 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      &:hover {
        background: #e0e0e0;
      }
    }
  }
  .simple-panel {
    @include span-columns(4);
    @include shift(4);
    @include pad;
    background: #fff;
    margin-bottom: 30px;
    font-family: $base-font-family;
    box-shadow: 1px 1px 1px darken($base-background-color, 10);
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    background: #fefefe;
    font-size: $base-font-size;
    line-height: auto;
    a {
      margin-top: 10px;
      color: #888;
      display: block;
      text-align: center;
    }
    a:hover {
      color: #121212;
    }
    h2 {
      font-size: 1.0em;
      text-transform:uppercase;
      color: #ccc;
      text-align: right;
    }
    form {
      margin-top: 20px;
      label {
        color: #888;
        font-size: 0.8em;
        margin-bottom: 0px;
        display: inline;
      }
      input {
        margin-top: 0px;
      }
      input[type=submit] {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
