<div class="filter-panel">
<%= search_form_for @q, url: ak_path(filter_resource.model)  do |f| %>
  <% filter_resource.fields.each do |field|  %>
    <% if field.name != :name %>
      <%= f.label field.name, field.display_name %>
      <%= filter_field f,field, @q  %>
    <% end %>
  <% end %>
  <div class="buttons">
    <%= f.submit 'Filter Records'%>
  </div>
<% end %>
</div>
