<div class="filter-panel">
  <h2>FILTERS</h2>
  <%= filter_form_for resource do |form| %>
    <% filter_resource.fields.each do |field| %>
      <%= form.filter(field) %>
    <% end %>
    <div class="buttons">
      <%= form.submit 'Filter Records'%>
    </div>
  <% end %>
</div>
