<% content_for :breadcrumb do %>
  <li><%= link_to resource.plural_display_name, [app_kit, @record.class] %></li>
  <li><%= link_to @record, [app_kit, @record] %></li>
  <li class="active">
    Edit <%= resource.display_name %>
  </li>
<% end %>
<%= render 'app_kit/resources/form.html.erb' %>
