<% content_for :breadcrumb do %>
  <li class="active"><%= resource.plural_display_name %></li>
<% end %>
<%= render 'app_kit/table',
  item: AppKit::Views::Table.new(resource, records: @records, page: get_page) %>
<div class="buttons">
  <%= link_to "New #{resource.display_name}",
    new_polymorphic_path([app_kit, resource.model]),
    class: 'primary' %>
</div>
<%= render partial: 'filter_panel', locals: { filter_resource: resource } %>
<div class="filter-screen"></div>
