%footer
  .div
    AppKit is an open source project, you can download the sourcecode
    %a{href: "https://github.com/5Sigma/app_kit/"} here.
  .div
    This project is maintained by
    %a{href: 'http://5sigma.io'} 5Sigma.
