%header
  .title
    app
    %strong
      kit
  %small Advanced data applications in minutes
  %nav
    %a.active{href: '/'} home
    %a{href: '/'} dsl
    %a{href: '/'} tutorial
    %a{href: '/'} code
