%header
  .title
    %h2
      app<strong>kit</strong>
      %small Advanced data applications in minutes
  .buttons
    %a{href:"/overview"}
      %i.fa.fa-newspaper-o
      Reference


    %a{href:"https://github.com/5Sigma/app_kit/"}
      %i.fa.fa-github
      Code
.land-section.red
  %h2 Not just scaffolding
  %p
    AppKit builds user ready applications with a number of nice features and an
    attractive interface. Ready to be used out of the box.
  .browsers
    .browser
      .browser-top-bar
        .browser-circle
        .browser-circle
        .browser-circle
      .browser-content
    .browser
      .browser-top-bar
        .browser-circle
        .browser-circle
        .browser-circle
      .browser-content
    .browser
      .browser-top-bar
        .browser-circle
        .browser-circle
        .browser-circle
      .browser-content
  .feature-cells
    .feature
      %span.fa-stack.fa-lg
        %i.fa.fa-square-o.fa-stack-2x
        %i.fa.fa-filter.fa-stack-1x.fa-inverse
      .content
        .title Intelligent record filtering
        %p
          Data-type aware filtering options for easily searching and
          finding records.

    .feature
      %span.fa-stack.fa-lg
        %i.fa.fa-square-o.fa-stack-2x
        %i.fa.fa-list.fa-stack-1x.fa-inverse
      .content
        .title Full RESTful actions
        %p
          Edit, update, create, view, and search for data and records.
    .feature
      %span.fa-stack.fa-lg
        %i.fa.fa-square-o.fa-stack-2x
        %i.fa.fa-user.fa-stack-1x.fa-inverse
      .content
        .title User authentication
        %p
          Authentication and user management.
    .feature
      %span.fa-stack.fa-lg
        %i.fa.fa-square-o.fa-stack-2x
        %i.fa.fa-code.fa-stack-1x.fa-inverse
      .content
        .title Extendable
        %p
          Easily override existing functionality or build new functionality.
.land-section.white-grey
  %h2 An easy DSL built for getting things up quickly
  %p Get apps up and running in minutes with only a few lines of code
  .code-box
    :code
      # lang: ruby
      AppKit.register Invoice do
        show_in_navigation true

        icon 'list'
        field :invoice_number, editable: false
        field :customer_id
        field :invoice_total, editable: false, :formatter => :currency
        field :invoice_date, :formatter => :date
        field :paid, show_in_table: false
        field :published, show_in_table: false
      end

  .feature-cells.three
    %a.feature{href: '/tutorial'}
      %span.fa-stack.fa-lg
        %i.fa.fa-square-o.fa-stack-2x
        %i.fa.fa-question.fa-stack-1x
      .content
        .title Checkout the tutorial
        %p
          A quick tutorial to get an app running.
    %a.feature{href: '/overview'}
      %span.fa-stack.fa-lg
        %i.fa.fa-square-o.fa-stack-2x
        %i.fa.fa-newspaper-o.fa-stack-1x
      .content
        .title Documentation
        %p
          View the documentation and refference.
    %a.feature{href: 'https://github.com/5Sigma/app_kit/'}
      %span.fa-stack.fa-lg
        %i.fa.fa-square-o.fa-stack-2x
        %i.fa.fa-code.fa-stack-1x
      .content
        .title Get the code
        %p
          Get the sourcecode from Github.
.land-section.grey
  %h2 Track and investigate record changes
  %p Record auditing allows you to track changes to data and see who made them
