.page-container
  .side-nav
    %ul
      %li
        %a{:href => '/'} Generating a new project
      %li
        %a{href: '#models'} Data models
      %li
        %a{:href => '#resources'} Resources
        %ul
          %li
            %a{:href => '#customer-resource'} Customer resource
          %li
            %a{:href => '#invoice-resource'} Invoice resource
          %li
            %a{:href => '#invoice-item-resource'} Invoice item resource
      %li
        %a{:href => '#user'} Creating a user
      %li
        %a{href: '#improvements'} Cleanin up
        %ul
          %li
            %a{href: '#model-display-text'} Model display text


  .article-container
    = partial 'articles/tutorial.md'
